<table class="table">
<tbody>
    
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Wavelet U-Net for Medical Image Segmentation.
            </span><br />
            <span class="authors">
                Ying Li, Yu Wang, Tuo Leng, and Wen Zhijie.
            </span><br />
            <span class="venuetype"></span><span class="venue">International Conference on Artificial Neural Networks</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Variational autoencoder for regression: Application to brain aging analysis.
            </span><br />
            <span class="authors">
                Qingyu Zhao, Ehsan Adeli, Nicolas Honnorat, Tuo Leng, and Kilian M Pohl.
            </span><br />
            <span class="venuetype"></span><span class="venue">International Conference on Medical Image Computing and Computer-Assisted Intervention</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                ACE-Net: Adaptive Context Extraction Network for Medical Image Segmentation.
            </span><br />
            <span class="authors">
                Tuo Leng, Yu Wang, Ying Li, and Zhijie Wen.
            </span><br />
            <span class="venuetype"></span><span class="venue">International Conference on Artificial Neural Networks</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                On discrete Wirtinger-Northcott problems.
            </span><br />
            <span class="authors">
                Tuo Leng, Qingyu Zhao, and Xiaolin Qin.
            </span><br />
            <span class="venuetype"></span><span class="venue">Linear Algebra and its Applications</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">

                The Fermat-Torricelli Problem of Triangles on the Sphere with Euclidean Metric: A Symbolic Solution with Maple.
            </span><br />
            <span class="authors">
                Xiaofeng Guo, Tuo Leng, and Zhenbing Zeng.
            </span><br />
            <span class="venuetype"></span><span class="venue">Maple Conference</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Artificial intelligence and people’s consensus.
            </span><br />
            <span class="authors">
                Shanshan Zhang, Cheng Yang, Nina Qian, Qingye Tang, Xiangfeng Luo, Tuo Leng, Xiaoqiang Li, and Yuexing Han.
            </span><br />
            <span class="venuetype"></span><span class="venue">Unknown venue (type=incollection)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Discrete Wirtinger type inequality under non-periodic end conditions.
            </span><br />
            <span class="authors">
                Tuo Leng.
            </span><br />
            <span class="venuetype"></span><span class="venue">Journal of Mathematical Analysis and Applications 434(1)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Generalizations of Cauchy-Schwarz inequality in unitary spaces.
            </span><br />
            <span class="authors">
                Leng Tuo.
            </span><br />
            <span class="venuetype"></span><span class="venue">Journal of Inequalities and Applications 2015(1)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                The sharp upper bound for the ratio between the arithmetic and the geometric mean.
            </span><br />
            <span class="authors">
                Tuo Leng and Xiaolin Qin.
            </span><br />
            <span class="venuetype"></span><span class="venue">Math. Inequal. Appl 18(3)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Converses of a discrete Wirtinger type inequality.
            </span><br />
            <span class="authors">
                Leng Tuo and Feng Yong.
            </span><br />
            <span class="venuetype"></span><span class="venue">JOURNAL OF MATHEMATICAL INEQUALITIES 8(2)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Finding the Symbolic Solution of a Geometric Problem Through Numerical Computations.
            </span><br />
            <span class="authors">
                Liangyu Chen, Tuo Leng, Liyong Shen, Min Wu, Zhengfeng Yang, and Zhenbing Zeng.
            </span><br />
            <span class="venuetype"></span><span class="venue">Unknown venue (type=incollection)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                On Hardy-type integral inequalities.
            </span><br />
            <span class="authors">
                Tuo Leng and Yong Feng.
            </span><br />
            <span class="venuetype"></span><span class="venue">Applied Mathematics and Mechanics 34(10)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Spectral properties and geometric interpretation of R-filters.
            </span><br />
            <span class="authors">
                Tuo Leng.
            </span><br />
            <span class="venuetype"></span><span class="venue">Applied Mathematics and Mechanics 30(1)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td class="publication">
            <span class="pubtitle">
                Note on an inequality of Vicente Gon\ccalves.
            </span><br />
            <span class="authors">
                Jun Yuan and Tuo Leng.
            </span><br />
            <span class="venuetype"></span><span class="venue">Journal of Shanghai University (English Edition) 11(2)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
</tbody>
</table>
