<table class="table">
<tbody>
    
    <tr>
        <td>
            <span class="date">
                
                <big><strong>2020</strong></big><br />
                
                
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <a href="https://doi.org/10.1007/978-3-030-61609-0\_62">ACE-Net: Adaptive Context Extraction Network for Medical Image Segmentation</a>.
            </span><br />
            <span class="authors">
                Tuo Leng, Yu Wang, Ying Li, and Zhijie Wen.
            </span><br />
            <span class="venuetype"></span><span class="venue">Artificial Neural Networks and Machine Learning - ICANN 2020 - 29th International Conference on Artificial Neural Networks, Bratislava, Slovakia, September 15-18, 2020, Proceedings, Part I (Lecture Notes in Computer Science)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="date">
                
                
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <a href="https://doi.org/10.1007/978-3-030-61609-0\_63">Wavelet U-Net for Medical Image Segmentation</a>.
            </span><br />
            <span class="authors">
                Ying Li, Yu Wang, Tuo Leng, and Zhijie Wen.
            </span><br />
            <span class="venuetype"></span><span class="venue">Artificial Neural Networks and Machine Learning - ICANN 2020 - 29th International Conference on Artificial Neural Networks, Bratislava, Slovakia, September 15-18, 2020, Proceedings, Part I (Lecture Notes in Computer Science)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="date">
                
                <big><strong>2019</strong></big><br />
                
                
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                Variational AutoEncoder For Regression: Application to Brain Aging Analysis.
            </span><br />
            <span class="authors">
                Qingyu Zhao, Ehsan Adeli, Nicolas Honnorat, Tuo Leng, and Kilian M. Pohl.
            </span><br />
            <span class="venuetype"></span><span class="venue">Unknown venue (type=misc)</span>.
            <br />
            <span class="links">
            </span>
        </td>
    </tr>
    <tr>
        <td>
            <span class="date">
                
                <big><strong>2015</strong></big><br />
                
                
            </span>
        </td>
        <td class="publication">
            <span class="pubtitle">
                <a href="https://doi.org/10.1186/s13660-015-0719-z">Generalizations of Cauchy-Schwarz inequality in unitary spaces</a>.
            </span><br />
            <span class="authors">
                Leng Tuo.
            </span><br />
            <span class="venuetype"></span><span class="venue">Journal of Inequalities and Applications 2015(1)</span>.
            <br />
            <span class="links">
                [<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" onclick="$('#abstract_cite-key').slideToggle('fast');return false;">abstract</a>]
            </span>
            <div id="abstract_cite-key" class="abstract">
            In this paper, we give a generalization of Cauchy-Schwarz inequality in unitary spaces and obtain its integral analogs. As an application, we establish an inequality for covariances.
            </div>
        </td>
    </tr>
</tbody>
</table>
